<header class="header">
    <div class="header-main">
        <div class="logo">
            <a href="#"><img src="" alt="anhlogo"></a>
        </div>
        <div class="menu">
            <ul>
                <a href="#"><li>Trang Chu</li></a>
                <a href="#"><li>Gioi Thieu</li></a>
                <a href="#"><li>San Pham</li></a>
                <a href="#"><li>Lien He</li></a>
            </ul>
        </div>
        <div class="SingeIn-Out">
            <button>Dang Ky</button>
            <button>Dang Nhap</button>
        </div>
    </div>
    <div class="header-bottom">
        <img src="https://oldsailor.com.vn/vnt_upload/weblink/z5626490337224_435762ed3aa225236cf97f0c76affa89_1.jpg" alt="anh silder">
    </div>
</header>
